<!DOCTYPE html>
<html>

<head>
  <title>NBA Store Cart</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/pages/CartPage.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

  <%- include('../components/NavBar.ejs') %>
  <%- include('../components/HamburgerSideNav.ejs') %>

  <div class="cart-container">
    <h1 id="nba-cart-title">NBA Store Cart</h1>

    <% for(let i =0; i<products.length; i++){ 
        // Convert ArrayBuffer to a Uint8Array
        const uint8Array = new Uint8Array(products[i].image);

        // Convert Uint8Array to a binary string
        let binaryString = '';
        uint8Array.forEach(byte => {
          binaryString += String.fromCharCode(byte);
        });
        // Encode the binary string to Base64
        const base64String = btoa(binaryString);
      %>

      <div class="item" data-productid="<%=products[i]._id%>">
        <img src="data:image/jpg;base64,<%= base64String %>" alt="<%= products[i].name%>">
        <div class="description">
          <h2 class="title"><%= products[i].name %></h2>
          <p class="price"><%= products[i].price %>$</p>
          <p class="size">Size: <%= cart[i].size %></p>
          <p class="quantity">
            <span class="quantity-label">Amount: <%= cart[i].amount %></span>
          </p>
          <div class="cart-buttons">
            <a class="btn-cart deleteBtn" href="#">delete</a>
          </div>
        </div>
      </div>

    <% } %>


    <div class="payment-div">
      <div class="total-price">Total Price: <span id="total-price"></span></div>
      <button class="payment-button">Finish your purchase</button>
    </div>
  </div>

  <script src="/scripts/NavBar.js"></script>
  <script src="scripts/CartPage.js"></script>
</body>

</html>