<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/pages/SingleProductPage.css" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="ProductPage-body">
    <%- include('../components/NavBar.ejs') %>
    <%- include('../components/HamburgerSideNav.ejs') %>

    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="data:image/jpg;base64,<%= base64String %>" alt="<%= product.name %>" id="MainImg" width="100%">
            </div>
            <div class="col-2">
                <p class="productPage-p">Home / <%= product.category %></p>
                <h1><%= product.name %></h1>
                <h4><%= product.price %>$</h4>
                <select>
                    <option>Select Size</option>
                    <% for(let i = 0; i < product.size.length; i++){ %>
                    <option><%= product.size[i] %></option>
                    <% } %>
                </select>
                <input type="number" value="0" min="0">
                <a href="" id="addToCart-button" class="btn">Add to Cart</a>
                <a href= "https://twitter.com/intent/tweet?text=Check%20out%20this%20amazing%20product!&url=localhost:3080/product/<%= product._id %>" >
                    <i class="fa fa-twitter" style="font-size: 40px;"></i>
                  </a>
                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <p class="productPage-p"><%= product.description %></p>
            </div>
        </div>
    </div>
    <script src="/scripts/ProductPage.js"></script>
    <script src="/scripts/NavBar.js"></script>
</body>
</html>
